Source: ec2-api
Maintainer: JioCloud Compute <jiocloudcompute.team@rilcom>
Build-Depends:
 debhelper (>= 9~),
 dh-systemd,
 openstack-pkg-tools (>= 21ubuntu5~),
 python-all (>= 2.6),
 python-all-dev (>= 2.6.6-3~)
Build-Depends-Indep:
 python-boto (>= 2.32.1),
 python-crypto,
X-Python-Version: >= 2.7

Package: python-ec2-api
Architecture: amd64
Section: python
Depends: python-oslo-config,
 python-pbr,
 python-neutronclient,
 python-keystoneclient,
 python-migrate,
 python,
 python-babel,
 python-paste,
 python-pastedeploy,
 python-cinderclient,
 python-oslo-db,
 python-boto,
 python-pyasn1-modules,
 python:any (<< 2.8),
 python-paramiko,
 python-anyjson,
 python-pyasn1,
 python-six,
 python:any (>= 2.7.5-5~),
 python-stevedore,
 python-oslo-log,
 python-oslo-utils,
 python-eventlet,
 python-sqlalchemy,
 python-greenlet,
 python-oslo-concurrency,
 python-oslo-serialization,
 python-novaclient,
 python-iso8601,
 python (>= 2.7) | python-argparse,
 python-routes,
 python-webob,
 python-httplib2,
 python-jsonschema,
 python-lxml,
 python-oslo-messaging,
 python-glanceclient,
 ${misc:Depends},
 ${python:Depends}
Description: EC2 API
 This provides support for EC2 API over openstack.

